img.no-border
{
border:0;
height:200px;
width:100%;
}
caption.padding{
padding-left:135px;
}
.centerimg{
text-align: center;
border:0;
padding-top:31px;
}

.tpm{
  margin-top:10px;
}
@media (min-width: 992px) {
   
.nav-top-marg{
 margin-top:110px;
 color:#8080FF;
}
}

@media (min-width: 1200px) {
    .nav li a{

 width:130px;
} 
.nav li{
text-align:center;
}
}


.nav-bar{
padding-left:59px;
}